/* ===== Automatic Styling ===== */
#development a {
    color: var(--theme-blue) !important;
    text-decoration: underline;
}

#development a:hover {
    color: var(--theme-red) !important;
    cursor: pointer;
}

/* ===== Nav footer ===== */
.navfooter-button {
    width: 150px;
    height: 30px;
    background-color: var(--theme-blue);
    border: var(--theme-blue);
    border-radius: 5px;
    transition: all .1s ease-in-out;
}

    .navfooter-button:hover {
        transform: scale(1.1);
    }

    .navfooter-button span {
        display: inline-block;
        vertical-align: bottom;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100px;
    }

/* ===== General ===== */
span.endpoint {
    font-style: italic;
    font-weight: bold;
}

.collapsible-trigger:hover {
    cursor: pointer !important;
}