body {
  margin: 0;
  font-family: 'Arimo', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loadgif
{
    margin-top: 10%;
    width: 25%;
}

/* Navbar */
.logo
{
    width: 65px;
    height: 65px;
}

.welcome-text
{
    justify-content: center;
    margin-right: 1%;
}

.profile-picture
{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.login-button
{
    margin-top: auto;
}

.card
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.card-text
{
    height: 60px;
    text-overflow: ellipsis;
}

.default-offset
{
    margin-left: auto;
    margin-right: auto;
    width: 50%
}